pre.highlight {
    background: #eee;
}
span.p{
    color: #000000 !important;
}
span.s2{
    color: #7ec699 !important;
}
span.nl{
    color: #22a2c9 !important;
}
span.nt{
    color: #FF00FF !important;
}
span.c{
    color: rgb(13, 145, 94) !important;
}
span.nb{
    color: #000000 !important;
}
html {
    font-size: 17px ;
  }
div.author__content{
    font-size: 130%
}
h1#page-title.page__title{
    font-size: 200%
}
a.site-title{
    font-size: 130%
}