pre.highlight {
    background: #eee;
}
span.p{
    color: #000000 !important;
}
span.s2{
    color: #7ec699 !important;
}
span.nl{
    color: #22a2c9 !important;
}
span.nt{
    color: #FF00FF !important;
}
span.c{
    color: rgb(13, 145, 94) !important;
}
span.nb{
    color: #000000 !important;
}
span.n{
    color: #000000
}